<!-- Error -->
<div *ngIf="alertModel.getElement() != null" [class]="'alert alert-dismissible alert-' + alertModel.getClass()" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alertModel.clear()"><span aria-hidden="true">&times;</span></button>
  {{ alertModel.getElement().title }}
  <span *ngIf="alertModel.getElement().detail != null">
    (<a data-toggle="collapse" data-target="#detail-panel">meer details</a>)
  </span>
  <div id="detail-panel" class="collapse">
    {{ alertModel.getElement().detail }}
  </div>
</div>
