<app-alert-component [alertModel]="alertModel"></app-alert-component>

<!-- Show all information in pannels -->
<div class="row">
  <!-- Left column of panels -->
  <div class="col-sm-6">
    <app-volunteer-detail [volunteer]="volunteer.volunteerDVO"></app-volunteer-detail>

    <!-- Active -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">
          <span data-toggle="collapse" data-target="#active-panel" class="glyphicon glyphicon-ok-sign"></span><a (click)="setNewInstance()">Actief</a>
        </h1>
      </div>
      <div id="active-panel" class="list-group collapse in">
        <a *ngFor="let instance of volunteer.volunteerInstanceDVOS"
           (click)="setInstance(instance)" class="list-group-item">
          Van {{ instance.dateStart }} tot {{ instance.dateEnd | mydate }}.
        </a>
      </div>
    </div>

    <!-- Matches -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><span data-toggle="collapse" data-target="#matches-panel" class="glyphicon glyphicon-ok-sign">
        </span><a (click)="setNewMatch()">Koppelingen</a></h1>
      </div>
      <div id="matches-panel" class="list-group collapse in">
        <a (click)="setMatch(match)" *ngFor="let match of volunteer.volunteerMatchDVOS" class="list-group-item">
          Van {{ match.dateStart }} tot {{ match.dateEnd | mydate }} voor cursist {{ match.studentDVO | parsename }}.
        </a>
      </div>
    </div>

    <!-- Tasks -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><span data-toggle="collapse" data-target="#task-panel" class="glyphicon glyphicon-pushpin">
        </span><a (click)="setNewTask()">Taken</a></h1>
      </div>
      <div id="task-panel" class="list-group collapse in">
        <ng-container *ngFor="let task of volunteer.taskDVOS" >
        <a (click)="setTask(task)" *ngIf="task.isFinished == false" class="list-group-item">
          {{ task.dateToBeFinished }} | {{ task.title }}.</a>
        </ng-container>
      </div>
    </div>

    <!-- Log -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><span data-toggle="collapse" data-target="#log-panel" class="glyphicon glyphicon-user"></span>Logboek</h1>
      </div>

      <div id="log-panel" class="panel-body collapse in collapsible-text-panel">
        <div class="fix-collapse">
          <p>{{ volunteer.volunteerDVO.log }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Right column of panels -->
  <div class="col-sm-6">
    <!-- Tasks -->
    <app-task-add
      *ngIf="currentItemInstance === TASK_ADD" (onBackEmitter)="clear()"
      [(alertModel)]="alertModel" [volunteer]="volunteer.volunteerDVO" (didHttpRequest)="refresh()"></app-task-add>
    <app-task-edit
      *ngIf="currentItemInstance === TASK_EDIT" [alertModel]="alertModel" (onBackEmitter)="setTask(currentItem)"
      [task]="currentItem" [volunteer]="volunteer" (didHttpRequest)="refreshAndOpenItem(currentItem)"></app-task-edit>
    <app-task-detail
      *ngIf="currentItemInstance === TASK_VIEW" [alertModel]="alertModel" [task]="currentItem" [volunteer]="volunteer.volunteerDVO"
      (onEditEmitter)="editTask()"></app-task-detail>
    <div *ngIf="currentItemInstance === TASK_VIEW" class="pull-right">
      <button class="btn btn-default" (click)="clear()">Terug</button>
    </div>

    <!-- Instances -->
    <app-volunteer-add-active
      *ngIf="currentItemInstance === INSTANCE_ADD" [volunteer]="volunteer.volunteerDVO" (didHttpRequest)="refresh()"
      (onBackEmitter)="clear()" [alertModel]="alertModel"></app-volunteer-add-active>
    <app-volunteer-edit-active
      *ngIf="currentItemInstance === INSTANCE_EDIT" [(volunteerInstance)]="currentItem" (didHttpRequest)="refresh()"
      (onBackEmitter)="clear()" [alertModel]="alertModel" [volunteer]="volunteer.volunteerDVO" (onDeleteEmitter)="onDeleteActive($event)"></app-volunteer-edit-active>

    <!-- Matches -->
    <app-volunteer-add-match
      *ngIf="currentItemInstance === MATCH_ADD" [volunteer]="volunteer.volunteerDVO" (didHttpRequest)="refresh()"
      (onBackEmitter)="clear()" [alertModel]="alertModel"></app-volunteer-add-match>
    <app-volunteer-edit-match
      *ngIf="currentItemInstance === MATCH_EDIT" [(volunteerMatch)]="currentItem" (didHttpRequest)="refresh()"
      (onBackEmitter)="clear()" [alertModel]="alertModel" [volunteer]="volunteer.volunteerDVO" (onDeleteEmitter)="onDeleteMatch($event)"></app-volunteer-edit-match>
  </div>
</div>
