<app-alert-component [alertModel]="alertModel"></app-alert-component>

<!--Search bar on top -->
<div class="row">
  <div class="col-sm-3">
    <button type="button" [routerLink]="['add']" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Toevoegen vrijwilliger</button>
  </div>

  <!-- Empty space in the middle -->
  <div class="col-sm-7" >
    <div class="pull-right form-inline form-group">
      <label for="isActive">Is actief: </label>
      <select id="isActive" class="form-control" [(ngModel)]="isActive" (change)="searchVolunteers()">
        <option *ngFor="let answer of yesNoNull" [ngValue]="answer.id"> {{ answer.value }}</option>
      </select>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="text-right input-group">
      <input type="text" class="form-control" placeholder="Zoeken&hellip;" [(ngModel)]="inputSearch" (keyup)="searchVolunteers()">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#advancedRow"><span class="glyphicon glyphicon-chevron-down"></span></button>
      </span>
    </div>
  </div>
</div>

<!-- Advanced search bar -->
<div id="advancedRow" class="row collapse">
  <div class="col-sm-12">
    <div class="pull-right form-inline form-group">
      <label for="hasTraining">Training gehad: </label>
      <select id="hasTraining" class="form-control" [(ngModel)]="hasTraining" (change)="searchVolunteers()">
        <option *ngFor="let answer of yesNoNull" [ngValue]="answer.id"> {{ answer.value }}</option>
      </select>
    </div>
    <div class="pull-right form-inline form-group">
      <label for="hasMatch">Heeft taalmaatjes: </label>
      <select id="hasMatch" class="form-control" [(ngModel)]="hasMatch" (change)="searchVolunteers()">
        <option *ngFor="let answer of yesNoNull" [ngValue]="answer.id"> {{ answer.value }}</option>
      </select>
    </div>
    <div class="pull-right form-inline form-group">
      <label for="city">Stad: </label>
      <input id="city" type="text" class="form-control" placeholder="Stad" [(ngModel)]="inputCity" (keyup)="searchVolunteers()">
    </div>
  </div>
</div>

<!-- The table with output results -->
<div class="row ">
  <div class="col-sm-12">
    <table data-toggle="table" data-pagination="true" class="table table-hover">
      <thead>
      <tr>
        <th>Naam</th>
        <th>Stad</th>
        <th>Telefoonnummer</th>
        <th>Koppelingen</th>
      </tr>
      </thead>
      <tbody>
        <!-- Show all volunteers -->
        <tr *ngFor="let volunteer of volunteers" (dblclick)="clickOnVolunteer(volunteer.externalIdentifier)">
          <td>{{ parseName(volunteer) }}</td>
          <td>{{ volunteer.city }}</td>
          <td>{{ volunteer.mobilePhoneNumber }}</td>
          <td>{{ volunteer.gender }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
