<app-alert-component [alertModel]="alertModel"></app-alert-component>

<div class="row">
  <!-- Show all information in pannels -->
  <form (ngSubmit)="onSubmit()">
    <!-- Left column of panels -->
    <div class="col-sm-6">
      <!-- Personal details -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><span class="glyphicon glyphicon-user"></span>Persoonsgegevens</h1>
        </div>
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <label for="firstName" class="col-sm-4 control-label">Voornaam</label>
            <div class="col-sm-8">
              <input type="text" name="firstName" id="firstName" class="form-control" [(ngModel)]="volunteer.firstName"/>
            </div>
          </div>
          <div class="form-group">
            <label for="insertion" class="col-sm-4 control-label">Tussenvoegsel</label>
            <div class="col-sm-8">
              <input type="text" id="insertion" name="insertion" class="form-control" [(ngModel)]="volunteer.insertion"/>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-4 control-label">Achternaam</label>
            <div class="col-sm-8">
              <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="volunteer.lastName"/>
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfBirth" class="col-sm-4 control-label">Geboortedatum</label>
            <div class="col-sm-8">
              <input type="text" name="dateOfBirth" id="dateOfBirth" class="form-control" [(ngModel)]="volunteer.dateOfBirth" />
            </div>
          </div>
          <div class="form-group">
            <label for="gender" class="col-sm-4 control-label">Geslacht</label>
            <div class="col-sm-8">
              <select #selectGender id="gender" name="gender" class="form-control" [(ngModel)]="volunteer.gender">
                <option *ngFor="let gender of genders" [value]="gender.id">
                  {{ gender.value }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="job" class="col-sm-4 control-label">Beroep</label>
            <div class="col-sm-8">
              <input type="text" id="job" name="job" class="form-control" [(ngModel)]="volunteer.job"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact information -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><span class="glyphicon glyphicon-earphone"></span>Contactgegevens</h1>
        </div>
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <label for="phoneNr" class="col-sm-4 control-label">Telefoonnummer</label>
            <div class="col-sm-8">
              <input type="text" id="phoneNr" name="phoneNr" class="form-control" [(ngModel)]="volunteer.phoneNumber"/>
            </div>
          </div>
          <div class="form-group">
            <label for="mobilePhoneNr" class="col-sm-4 control-label">Mob telefoonnummer</label>
            <div class="col-sm-8">
              <input type="text" id="mobilePhoneNr" name="mobilePhoneNr" class="form-control" [(ngModel)]="volunteer.mobilePhoneNumber"/>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
              <input type="text" id="email" name="email" class="form-control" [(ngModel)]="volunteer.email"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right column of panels -->
    <div class="col-sm-6">
      <!-- Adres details -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><span class="glyphicon glyphicon-home"></span>Adresgegevens</h1>
        </div>
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <label for="streetName" class="col-sm-4 control-label">Straatnaam</label>
            <div class="col-sm-8">
              <input type="text" id="streetName" name="streetName" class="form-control" [(ngModel)]="volunteer.streetName"/>
            </div>
          </div>
          <div class="form-group">
            <label for="houseNr" class="col-sm-4 control-label">Huisnummer</label>
            <div class="col-sm-8">
              <input type="text" id="houseNr" name="houseNr" class="form-control" [(ngModel)]="volunteer.houseNr"/>
            </div>
          </div>
          <div class="form-group">
            <label for="postalCode" class="col-sm-4 control-label">Postcode</label>
            <div class="col-sm-8">
              <input type="text" id="postalCode" name="postalCode" class="form-control" [(ngModel)]="volunteer.postalCode"/>
            </div>
          </div>
          <div class="form-group">
            <label for="city" class="col-sm-4 control-label">Stad</label>
            <div class="col-sm-8">
              <input type="text" id="city" name="city" class="form-control" [(ngModel)]="volunteer.city"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Taalmaatjes details -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><span class="glyphicon glyphicon-book"></span>Taalmaatjes</h1>
        </div>
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <label for="dateTraining" class="col-sm-4 control-label">Training gevolgd</label>
            <div class="col-sm-8">
              <input type="text" name="dateTraining" id="dateTraining" class="form-control" [(ngModel)]="volunteer.dateTraining" />
            </div>
          </div>
          <div class="form-group">
            <label for="dateStartActive" class="col-sm-4 control-label">Actief vanaf</label>
            <div class="col-sm-8">
              <input type="text" name="dateStartActive" id="dateStartActive" class="form-control" [(ngModel)]="dateStartActive" />
            </div>
          </div>
          <div class="form-group">
            <label for="isClassAssistant" class="col-sm-4 control-label">Is klassenassistent</label>
            <div class="col-sm-8">
              <input type="checkbox" id="isClassAssistant" name="isClassAssistant" [(ngModel)]="volunteer.isClassAssistant" />
            </div>
          </div>
          <div class="form-group">
            <label for="isTaalmaatje" class="col-sm-4 control-label">Is taalmaatje</label>
            <div class="col-sm-8">
              <input type="checkbox" id="isTaalmaatje" name="isTaalmaatje" [(ngModel)]="volunteer.isTaalmaatje"/>
            </div>
          </div>

          <div class="pull-right">
            <input type="submit" class="btn btn-default" value="Opslaan"> <button (click)="onBack()" class="btn btn-default">Terug</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

