/* Change styling of menu bar on the left. Selected items are highlighted slightly brighter than previously. */
.list-group .active, .list-group .list-group-item:hover, .list-group .list-group-item:focus {
  background-color: #49515a !important;
  color: #ffffff !important;
}

/* Make list panels same background color as text panels. */
.list-group-item {
  background-color: transparent;
}
