/* Overlay code. Gif source: https://loading.io/
   Code source: https://stackoverflow.com/questions/2852276/make-div-overlay-entire-page-not-just-viewport */
div.overlay {
  opacity:    1.0;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
  background: url("spinner.svg") no-repeat center;
}

/* Change styling of menu bar on the left. Selected items are highlighted slightly brighter than previously. */
.list-group .active, .list-group .list-group-item:hover, .list-group .list-group-item:focus {
  background-color: #49515a !important;
  color: #ffffff !important;
}

/* Make list panels same background color as text panels. */
.list-group-item {
  background-color: transparent;
}
