<!-- Overlay code -->
<div *ngIf="showOverlay" class="overlay" theme></div>

<!-- Show either login page or normal framework for page. -->
<div *ngIf="loginService.isLoggedIn(); else login_page">

  <!-- Top bar. Only used for title at the moment. -->
  <nav class="navbar navbar-default" role="navigation" theme>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><h1 style="margin-top: 10px">Taalmaatjes</h1></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Container for the page -->
  <div class="container-fluid">
    <!-- Left Column with the functions -->
    <div class="col-sm-2">

      <!-- List panel with possible views -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><span class="glyphicon glyphicon-book" data-toggle="collapse" data-target="#menu-admin-panel"></span>Administratie</h1>
        </div>
        <div id="menu-admin-panel" class="list-group collapse in" theme>
          <a [routerLink]="['/volunteer']" class="list-group-item active" theme>Vrijwilligers</a>
          <a href="#" class="list-group-item">Cursisten</a>
          <a href="#" class="list-group-item">Taken</a>
          <a href="#" class="list-group-item">Rapportage</a>
        </div>
      </div>

      <!-- List panel with configuration options -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><span class="glyphicon glyphicon-cog" data-toggle="collapse" data-target="#menu-config-panel"></span>Configuratie</h1>
        </div>
        <div id="menu-config-panel" class="list-group collapse in">
          <a href="#" class="list-group-item">Mijn account</a>
          <a (click)="handleChangeTheme()" class="list-group-item">Website configuratie</a>
        </div>
      </div>

      <!-- Customer specific: list of 5 most urgent tasks. -->
      <!-- List panel with configuration options -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><span class="glyphicon glyphicon-pushpin" data-toggle="collapse" data-target="#menu-task-panel"></span>Openstaande taken</h1>
        </div>
        <div id="menu-task-panel" class="list-group collapse in">
          <a href="#" class="list-group-item">Mail sturen naar X</a>
          <a href="#" class="list-group-item">Superlangetaaknaamdieisingevoerd dooreengekpersonwantwiedoetdatnou</a>
        </div>
      </div>
    </div>

    <!-- Center column where all the views are shown. -->
    <div class="col-sm-10 center-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- Login page is just full page. -->
<ng-template #login_page>
  <router-outlet></router-outlet>
</ng-template>
