<app-alert-component [alertModel]="alertModel"></app-alert-component>

<!-- Show all information in pannels -->
<div class="row">
  <!-- Left column of panels -->
  <div class="col-sm-6">

    <!-- Panel with student information -->
    <app-student-detail [student]="student.studentDVO"></app-student-detail>

    <!-- Matches -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><span data-toggle="collapse" data-target="#matches-panel" class="glyphicon glyphicon-ok-sign"></span>Koppelingen</h1>
      </div>
      <div id="matches-panel" class="list-group collapse in">
        <a *ngFor="let match of student.volunteerMatchDVOS" class="list-group-item">
          Van {{ match.dateStart }} tot {{ match.dateEnd | mydate }} {{ match.volunteerDVO | parsename }}.
        </a>
      </div>
    </div>
  </div>

  <!-- Right column of panels -->
  <div class="col-sm-6">

  </div>
</div>
