<app-alert-component [alertModel]="alertModel"></app-alert-component>

<!--Search bar on top -->
<div class="row">
  <div class="col-sm-3">
    <button type="button" [routerLink]="['add']" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Toevoegen cursist</button>
  </div>

  <!-- Empty space in the middle -->
  <div class="col-sm-7" >
    <div class="pull-right form-inline form-group">
      <label for="hasMatch">Heeft taalmaatjes: </label>
      <select id="hasMatch" class="form-control" [(ngModel)]="hasMatch" (change)="searchStudents()">
        <option *ngFor="let answer of yesNoNull" [ngValue]="answer.id"> {{ answer.value }}</option>
      </select>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="text-right input-group">
      <input type="text" class="form-control" placeholder="Zoeken&hellip;" [(ngModel)]="inputSearch" (keyup)="searchStudents()">
    </div>
  </div>
</div>

<!-- The table with output results -->
<div class="row">
  <div class="col-sm-12">
    <app-table-pagination [completeList]="students" (onDblClick)="onDblClick($event)">
      <ng-template #templateHeader>
        <th>Naam</th>
        <th>Vrijwilliger (moet ik nog doen!)</th>
        <th>Groep</th>
        <th>Opmerkingen</th>
      </ng-template>
      <ng-template #templateItem let-student>
        <td>{{ student | parsename }}</td>
        <td> TODO </td>
        <td>{{ student.groupIdentification }}</td>
        <td>{{ student.log | shorten:100 }}</td>
      </ng-template>
    </app-table-pagination>
  </div>
</div>
