<app-alert-component [alertModel]="alertModel"></app-alert-component>

<!-- Show all information in pannels -->
<div class="row">
  <!-- Left column of panels -->
  <div class="col-sm-12">
    <!-- Text Panel with information from customer. -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">
          <span data-toggle="collapse"
                data-target="#user-panel"
                class="glyphicon glyphicon-pushpin"></span><a [routerLink]="['edit']">{{ taskModel.title }}</a></h1>
      </div>
      <div id="user-panel" class="panel-body collapse in collapsible-text-panel">
        <div class="fix-collapse">
          <table data-toggle="table" class="table table-condensed borderless">
            <tbody>
              <tr>
                <td>Datum afhandelen</td>
                <td>{{ taskModel.dateToBeFinished }}</td>
              </tr>
              <tr>
                <td>Vrijwilliger</td>
                <td>{{ taskModel.volunteerValueObject | parsevolunteername }}</td>
              </tr>
              <tr>
                <td>Is afgehandeld</td>
                <!-- Add href to make mouse look like clicking mouse when hovering over the link. -->
                <td><a href="Javascript:void(0);" (click)="changeState()">{{ taskModel.isFinished | boolean }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Beschrijving -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><span data-toggle="collapse" data-target="#log-panel" class="glyphicon glyphicon-info-sign"></span>Beschrijving</h1>
      </div>
      <div id="log-panel" class="panel-body collapse in collapsible-text-panel">
        <div class="fix-collapse">
          <p>{{ taskModel.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
