<table class="table table-hover">
  <thead>
    <tr>
      <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemsOnPage" (dblclick)="onDblClick.emit(item)">
      <!--suppress UnnecessaryLabelJS -->
      <ng-container *ngTemplateOutlet="templateItem; context: {$implicit: item}"></ng-container>
    </tr>
  </tbody>
</table>
<div class="btn-toolbar" role="toolbar">
  <!-- <div class="btn-group">
    <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
  </div> -->
  <div class="btn-group pull-right">
    <ul class="pagination" >
      <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Prev</a></li>
      <li *ngFor="let page of pagesIndex"   [ngClass]="{'active': (currentIndex == page)}">
        <a (click)="setPage(page)" >{{page}}</a>
      </li>
      <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a (click)="nextPage()" >Next</a></li>
    </ul>
  </div>
</div>
