<form #f="ngForm" (ngSubmit)="(triedSubmit = true) && f.valid && onSubmit()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">
        <span data-toggle="collapse" data-target="#active-panel" class="glyphicon glyphicon-ok-sign"></span>{{ title }}
      </h1>
    </div>
    <div class="panel-body form-horizontal">
      <app-datepicker-component name="dateStart" label="Actief vanaf" [(date)]="volunteerInstance.dateStart" [required]="true" [triedSubmit]="triedSubmit"></app-datepicker-component>

      <app-datepicker-component name="dateEnd" label="Actief tot" [(date)]="volunteerInstance.dateEnd" [required]="false" [triedSubmit]="triedSubmit"></app-datepicker-component>

      <div class="pull-right">
        <input type="submit" class="btn btn-default" value="Opslaan">
        <!-- Edit -->
        <a *ngIf="volunteerInstance.externalIdentifier != null" class="btn btn-default" (click)="delete()">Verwijderen</a>
        <!-- Add -->
        <button type="button" (click)="onBack()" class="btn btn-default">Terug</button>
      </div>
    </div>
  </div>
</form>
